
<!--新着商品の記述（新しい順で４つまで）-->

<!--すべての商品を見るリンクタグ（右下）-->
<div class="container px-5"><!--このpxはpadding x方向を意味する。pyはy方向。-->
<!--エラー時の記述-->

<!--ジャンル検索（表示のみ）の記述-->
<div class="container">
  <div class="row-gy-1">
    <div class="col-md-2">
      <p>
        ジャンル検索</br>
        ケーキ</br>
        焼き菓子</br>
        プリン</br>
        キャンディ</br>
      </p>
    </div>
<!--topのサイト紹介文-->
    <div class="col-md-7 offset-md-1">
      <!--topページの文面（背景に）-->
      <p>
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </p>
    </div>
       <!--新着商品の記述--><!--テーブルの配置方法がわからない（そもそもテーブルタグなのか）-->
    <h2>新着商品</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
       </thead>
       <tbody>
        </tbody>
      </table>
  </div>
</div>